.header {
  text-align: right;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite;

  @keyframes blink {
    to {
      visibility: hidden;
    }
  }

  p {
    text-align: center;
    padding-bottom: 20%;

  }
 
  h1 {
    white-space: nowrap;   
    animation: rightThenLeft 4s infinite;

    @keyframes rightThenLeft {
      0%   {margin-right:0;}
      50%  {margin-right:100%;}
      100% {margin-right:0;}
    }
  }

}


.home-buttons {
  grid-row: 2 / 3;
  button {
    grid-row: 2 / 3;
    font-family: 'Press Start 2P', cursive;
    justify-self: center;
    display: flex;
    margin: 11% auto;
    font-size: 20px;
  }
}

.race-end {
  color: white;
  text-align: center;
}

.running-boy{
  width: 58%;
  margin-top: -15%;
}

.race {
  height: 0px;
  width: 300px;
  bottom: 0px;
}

// how-to-play

.heading {
  grid-row: 1 / 2;
}

.how-to-play {
  grid-row: 2 / 3;
  align-self: center;
  h2 {
    padding-bottom: 10%;
  }

}

