.race-finder {
  h2 {
    margin-bottom: 20%;
  }
  grid-row: 2 / 3;
  margin-top: 8%;
  input[type=text],
  [type=submit] {
    height: 30px;
    width: 70%;
    font-size: 20px;
  }
}
.race-submit{
  margin-top: 6%;
  font-size: 20px;
}
// race
.race-details {
  height: 100vh;
}
