$radioSize: 22px;
$radioBorder: #d1d7e3;
$radioActive: #5d9bfb;



.form{
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-content: center;
  .radio {
    text-align: center;  
    margin: 2% auto;
    display: block;
    cursor: pointer;
    input {
      display: none;
      & + span {
        line-height: $radioSize;
        height: $radioSize;
        padding-left: $radioSize;
        display: flex;
        position: relative;
        &:not(:empty) {
          padding-left: $radioSize + 8;
        }
        &:before,
        &:after {
          content: "";
          width: $radioSize;
          height: $radioSize;
          display: block;
          border-radius: 50%;
          left: 0;
          top: 0;
          position: absolute;
        }
        &:before {
          background: $radioBorder;
          transition: background 0.2s ease,
            transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
        }
        &:after {
          background: #fff;
          transform: scale(0.78);
          transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
        }
      }
      &:checked + span {
        &:before {
          transform: scale(1.04);
          background: $radioActive;
        }
        &:after {
          transform: scale(0.4);
          transition: transform 0.3s ease;
        }
      }
    }
    &:hover {
      input {
        & + span {
          &:before {
            transform: scale(0.92);
          }
          &:after {
            transform: scale(0.74);
          }
        }
        &:checked + span {
          &:after {
            transform: scale(0.4);
          }
        }
      }
    }
  }
}


.radio:first-child {
    margin-left: 133px;
}

.form-input {
  margin: 2%;
}
.form-submit {
  width: 41%;
  margin: 0 auto;
}
