@import './_race';
@import './_home';
@import './_heading';
@import './raceformbutton';
@import './lobby';

  
* {
  box-sizing: border-box;
  text-decoration: none;
}
        
body {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-weight: 500;
  margin: 0;
  background-color: rgb(10, 31, 53);
}

.container {
  text-align: center;
  height: 100vh;
}        

.main-content {
  display: grid;
  grid-template-rows: 21% auto 5%;
  height: 100vh;
}

footer {
  grid-row: 3 / 4;
  text-align: center
}