// @import './_variables';
@import './_home';
@import './_heading.scss';
// @import './_page2';

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-weight: 500;
  margin: 0;
  background-color: rgb(10, 31, 53);
}

.container {
  text-align: center
}
